.parent{
    display:flex;
    flex-wrap:wrap;
}

.container{
    flex:25%;
    width: 25%;
}

.container img{
    width: 100%;
}

/* Mobile : 576px
Tablet : 768 px
Laptop : 992px
Desktop : 1200px */


@media screen and (max-width:1200px){
    .container{
        flex:25%;
        width: 25%;
    }
}

@media screen and (max-width:992px){
    .container{
        flex:33%;
        width: 33%;
    }
}

@media screen and (max-width:768px){
    .container{
        flex:50%;
        width: 50%;
    }
}

@media screen and (max-width:576px){
    .container{
        flex:100%;
        width: 100%;
    }
}



